h1
{
 text-align: center;
}
.navbar
{
 list-style-type: none;
 color: black;
 padding: 15px;
margin: 15px;
 overflow: hidden;
 display: block;
}
.navbar a
{
 color: yellow;
 padding: 20px;
 display: block;
 text-align: center;
}
p
{
 color: white;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
 
 
