h1
{
 text-align: center;
}
.navbar ul
{
 list-style-type: none;
 background-color: hsl(30, 40%, 25%);
 padding: 15px;
margin: 0px;
 overflow: hidden;
}
.navbar a
{
 color: white;
 padding: 15px;
 display: block;
 text-align: center;
 text-decoration: none;
}
.navbar li
{
 float: left;
}
 
